*{
    background-color: black;
}
h1{
    color: bisque;
    font-size: 3rem;
    

   
}
p{
    color: beige;
    
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;


}
.abd{
    border: 5px solid white;
    width: 100%;
}